{% if name == 'truck' %}
  <svg width="26px" height="16px" viewBox="0 0 26 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-167.000000, -3393.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <g transform="translate(0.000000, 3351.000000)">
                <g id="cargo-truck" transform="translate(167.000000, 42.000000)">
                    <path d="M20.8425354,11.7051745 C19.658445,11.7051745 18.6951227,12.6687445 18.6951227,13.8525873 C18.6951227,15.0366777 19.658445,16 20.8425354,16 C22.0263783,16 22.9899482,15.0366777 22.9899482,13.8525873 C22.9899482,12.6687445 22.0263783,11.7051745 20.8425354,11.7051745 Z M20.8425354,14.4841792 C20.4941691,14.4841792 20.2109435,14.2009536 20.2109435,13.8525873 C20.2109435,13.5042209 20.4941691,13.2209953 20.8425354,13.2209953 C21.1909018,13.2209953 21.4741274,13.5042209 21.4741274,13.8525873 C21.4741274,14.2009536 21.1909018,14.4841792 20.8425354,14.4841792 Z" id="Shape"></path>
                    <path d="M20.6368759,2.77875704 L16.9266652,2.77875704 C16.647485,2.77875704 16.4213916,3.00513942 16.4213916,3.28403063 L16.4213916,13.1368656 C16.4213916,13.4157568 16.647485,13.6421392 16.9266652,13.6421392 L17.4625276,13.6421392 C17.7126463,13.6421392 17.9341988,13.461991 17.9665215,13.2139363 C18.1648331,11.6945654 19.3767467,10.7522549 20.8427831,10.7522549 C22.3088196,10.7522549 23.5207331,11.6946067 23.7190448,13.2139363 C23.7513674,13.4620322 23.9726723,13.6421392 24.2230387,13.6421392 L24.7583645,13.6421392 C25.0372557,13.6421392 25.2636381,13.4157568 25.2636381,13.1368656 L25.2636381,8.2104481 C25.2636381,8.09172532 25.2219447,7.97700675 25.145906,7.88631344 L21.0243761,2.95989597 C20.9284402,2.84521868 20.7864352,2.77875704 20.6368759,2.77875704 Z M17.4319387,6.82094574 L17.4319387,4.2945778 C17.4319387,4.0156866 17.6580322,3.78930422 17.9372123,3.78930422 L20.1629342,3.78930422 C20.3127412,3.78930422 20.4549939,3.85601354 20.5509711,3.9711862 L22.6561952,6.49755413 C22.9302978,6.82672501 22.6963611,7.32621932 22.2679106,7.32621932 L17.9372123,7.32621932 C17.6580322,7.32621932 17.4319387,7.10012591 17.4319387,6.82094574 Z" id="Shape"></path>
                    <path d="M0.505273587,13.6423868 L1.79904642,13.6423868 C2.0491651,13.6423868 2.27071766,13.4622386 2.30304031,13.214184 C2.50135194,11.6948131 3.7132655,10.7525026 5.17930195,10.7525026 C6.6453384,10.7525026 7.85725196,11.6948544 8.05556358,13.214184 C8.08788623,13.4622799 8.30919111,13.6423868 8.55955747,13.6423868 L14.9055708,13.6423868 C15.1845033,13.6423868 15.4108444,13.4160045 15.4108444,13.1371133 L15.4108444,0.505273587 C15.4108444,0.226382381 15.184462,0 14.9055708,0 L0.505273587,0 C0.226093418,0 0,0.226382381 0,0.505273587 L0,13.1371133 C0,13.4160457 0.226093418,13.6423868 0.505273587,13.6423868 Z" id="Path"></path>
                    <path d="M5.17905426,11.7051745 C3.99496378,11.7051745 3.03164152,12.6687445 3.03164152,13.8525873 C3.03164152,15.0366777 3.99496378,16 5.17905426,16 C6.36289707,16 7.32646701,15.0366777 7.32646701,13.8525873 C7.32646701,12.6687445 6.36289707,11.7051745 5.17905426,11.7051745 Z M5.17905426,14.4841792 C4.83068794,14.4841792 4.54746228,14.2009536 4.54746228,13.8525873 C4.54746228,13.5042209 4.83068794,13.2209953 5.17905426,13.2209953 C5.52742059,13.2209953 5.81064625,13.5042209 5.81064625,13.8525873 C5.81064625,14.2009536 5.52742059,14.4841792 5.17905426,14.4841792 Z" id="Shape"></path>
                </g>
            </g>
        </g>
      </g>
  </svg>

{% elsif name == 'security' %}
  <svg width="17px" height="20px" viewBox="0 0 17 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-532.000000, -3391.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <g transform="translate(0.000000, 3351.000000)">
                  <g id="security-on" transform="translate(532.000000, 40.000000)">
                      <path d="M16.5206662,3.12480063 C13.107968,3.12480063 10.4934972,2.14977685 8.28268081,0 C6.0720943,2.14977685 3.45773851,3.12480063 0.0453277021,3.12480063 C0.0453277021,8.72325567 -1.11310217,16.7430044 8.28262334,20 C17.6790386,16.7430619 16.5206662,8.72331315 16.5206662,3.12480063 Z M7.60026763,12.9765411 L4.85584352,10.2317147 L6.08462408,9.00299163 L7.60026763,10.51898 L10.4810249,7.63816525 L11.709748,8.86688833 L7.60026763,12.9765411 Z" id="Shape"></path>
                  </g>
              </g>
          </g>
      </g>
  </svg>
{% elsif name == 'refresh' %}
  <svg width="24px" height="20px" viewBox="0 0 24 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-1248.000000, -3391.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <g transform="translate(0.000000, 3351.000000)">
                  <g id="refresh" transform="translate(1248.000000, 40.000000)">
                      <path d="M7.02355586,11.4122757 C7.35186534,11.0356596 7.08442404,10.4476213 6.58477849,10.4476213 L5.08884368,10.4476213 C5.07909923,10.2996072 5.07364973,10.1504386 5.07364973,10.0000231 C5.07364973,6.27284 8.10588262,3.24060711 11.8330195,3.24060711 C13.6241512,3.24060711 15.2545224,3.94109918 16.465282,5.08221592 L18.5747015,2.61446843 C16.7281512,0.925260987 14.3517984,0 11.8330195,0 C9.16193168,0 6.65072672,1.04020856 4.76196586,2.92892324 C2.87325118,4.8176841 1.83304262,7.32888906 1.83304262,9.99997691 C1.83304262,10.1497459 1.83678338,10.2989145 1.84329507,10.4475751 L0.583259096,10.4475751 C0.083613545,10.4475751 -0.183873934,11.0356134 0.144481725,11.4122295 L2.98695183,14.672695 L3.5839957,15.3575313 L5.72759011,12.898697 L7.02355586,11.4122757 Z" id="Path"></path>
                      <path d="M23.5216035,9.50998344 L21.4015159,7.07811955 L20.0820895,5.56468168 L18.1982702,7.72550206 L16.6425756,9.50998344 C16.3142661,9.88659953 16.5817074,10.4746379 17.0813529,10.4746379 L18.5755328,10.4746379 C18.3310903,13.9811623 15.4005968,16.7593929 11.8330657,16.7593929 C10.2757547,16.7593929 8.83994917,16.2297289 7.69578441,15.3414599 L5.5862263,17.8093921 C7.35348172,19.2286182 9.53383718,20 11.8331119,20 C14.5041997,20 17.0154047,18.9598376 18.9041656,17.0710768 C20.6806112,15.2946311 21.7061338,12.9675085 21.8218203,10.4746841 L23.0828723,10.4746841 C23.5824717,10.4746379 23.849913,9.88659953 23.5216035,9.50998344 Z" id="Path"></path>
                  </g>
              </g>
          </g>
      </g>
  </svg>
{% elsif name == 'pay' %}

<svg width="24px" height="20px" viewBox="0 0 24 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-888.000000, -3391.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <g  transform="translate(0.000000, 3351.000000)">
                <g id="Path-4" transform="translate(888.000000, 40.000000)">
                    <path d="M21.5227484,4.19386322 L14.6933078,0.389842574 C12.6911917,-0.722444165 10.1774237,0.679037126 10.1774237,2.9036106 L10.1774237,3.30403383 C10.1774237,3.65996559 10.3776353,3.99365161 10.6890756,4.14937175 L11.9793282,4.86123527 C12.3575057,5.08369261 12.8246661,4.8167438 12.8246661,4.39407483 L12.8246661,3.4152625 C12.8246661,2.92585634 13.3585637,2.63666179 13.8034784,2.85911913 L19.7208439,6.15148788 C20.1657586,6.39619097 20.1657586,6.9968258 19.7208439,7.24152889 L13.8257242,10.5561434 C13.3808095,10.8008465 12.8469118,10.4894062 12.8469118,10 L12.8469118,9.4883481 C12.8469118,7.24152889 10.3331438,5.86229333 8.33102768,6.97458007 L1.5015871,10.7786007 C-0.500529033,11.8908875 -0.500529033,14.69385 1.5015871,15.8061368 L8.33102768,19.6101574 C10.3331438,20.7224442 12.8469118,19.3209629 12.8469118,17.0963894 L12.8469118,16.6959662 C12.8469118,16.3400344 12.6467002,16.0285941 12.3352599,15.8506282 L11.0450073,15.1387647 C10.6668298,14.9163074 10.1996694,15.1832562 10.1996694,15.6059252 L10.1996694,16.5847375 C10.1996694,17.0741437 9.66577176,17.3633382 9.22085707,17.1408809 L3.30349162,13.8485121 C2.85857692,13.603809 2.85857692,13.0031742 3.30349162,12.7584711 L9.22085707,9.46610237 C9.66577176,9.22139928 10.1996694,9.53283957 10.1996694,10.0222457 L10.1996694,10.5338976 C10.1996694,12.7807168 12.7134374,14.1599524 14.7155536,13.0476657 L21.5449941,9.24364502 C23.5471103,8.10911254 23.5471103,5.30614996 21.5227484,4.19386322 Z" id="Path"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
{% elsif name == 'heart' %}
    <svg width="20px" height="16px" viewBox="0 0 20 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>7D8EB714-7891-4307-828E-3A5C5B115A8F</title>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="menu-mobile" transform="translate(-40.000000, -543.000000)" fill="#000000" fill-rule="nonzero">
                <g id="like" transform="translate(40.000000, 543.000000)">
                    <path d="M14.1,0 C11.8258125,0 10.3646625,1.49633886 9.6,2.84075499 C8.8353375,1.49633886 7.3741875,0 5.1,0 C2.2138875,0 0,2.2226569 0,5.17057605 C0,8.36706173 2.77365,10.5438666 6.9154875,13.8397487 C8.9435625,15.4521506 9.073875,15.5746993 9.6,16 C10.029375,15.6529043 10.2670125,15.4437796 12.2845125,13.8397487 C16.42635,10.5438666 19.2,8.36706173 19.2,5.17057605 C19.2,2.22269461 16.9861125,0 14.1,0 Z" id="Path"></path>
                </g>
            </g>
        </g>
    </svg>
{% elsif name == 'user-2' %}
    <svg width="15px" height="16px" viewBox="0 0 15 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="menu-mobile" transform="translate(-43.000000, -583.000000)" fill="#000000" fill-rule="nonzero">
                <g id="user-4" transform="translate(43.000000, 583.000000)">
                    <path d="M7.03125,0 C4.70503125,0 2.8125,1.89253125 2.8125,4.21875 C2.8125,6.54496875 4.70503125,8.4375 7.03125,8.4375 C9.35746875,8.4375 11.25,6.54496875 11.25,4.21875 C11.25,1.89253125 9.35746875,0 7.03125,0 Z" id="Path"></path>
                    <path d="M12.2801875,11.1935937 C11.1251875,10.0208437 9.59403125,9.375 7.96875,9.375 L6.09375,9.375 C4.4685,9.375 2.9373125,10.0208438 1.7823125,11.1935937 C0.63296875,12.3605937 0,13.9010313 0,15.53125 C0,15.790125 0.209875,16 0.46875,16 L13.59375,16 C13.852625,16 14.0625,15.790125 14.0625,15.53125 C14.0625,13.9010313 13.4295313,12.3605937 12.2801875,11.1935937 Z" id="Path"></path>
                </g>
            </g>
        </g>
    </svg>

{% elsif name == 'wishlist' %}
    <svg width="24px" height="20px" viewBox="0 0 24 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>0922DD55-5AA0-4F5C-A046-9E29AC6AC472</title>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="homepage" transform="translate(-1326.000000, -75.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <g id="like" transform="translate(1326.000000, 75.000000)">
                    <path d="M17.625,0 C14.7822656,0 12.9558281,1.87042357 12,3.55094374 C11.0441719,1.87042357 9.21773438,0 6.375,0 C2.76735938,0 0,2.77832113 0,6.46322006 C0,10.4588272 3.4670625,13.1798332 8.64435938,17.2996859 C11.1794531,19.3151883 11.3423438,19.4683742 12,20 C12.5367187,19.5661304 12.8337656,19.3047245 15.3556406,17.2996859 C20.5329375,13.1798332 24,10.4588272 24,6.46322006 C24,2.77836826 21.2326406,0 17.625,0 Z" id="Path"></path>
                </g>
            </g>
        </g>
    </svg>
{% else %}

  <p>?</p>
{% endif %}
