<svg  aria-hidden="true" focusable="false" role="presentation" class="icon icon-filter"  width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>BB56CB29-9001-4028-9738-1D3DF42AE802</title>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="product-listing-mobile" transform="translate(-20.000000, -162.000000)" fill="#000000" fill-rule="nonzero">
          <g id="filters" transform="translate(20.000000, 160.000000)">
              <g id="filter-filled-tool-symbol" transform="translate(0.000000, 2.000000)">
                  <path d="M5.26888904,6.61552229 C5.41580462,6.77540101 5.49646416,6.9842516 5.49646416,7.20030393 L5.49646416,13.5666459 C5.49646416,13.9497931 5.95881614,14.1442402 6.23248242,13.8748805 L8.00843256,11.8396676 C8.24609012,11.5544785 8.37716187,11.4133099 8.37716187,11.131016 L8.37716187,7.20174427 C8.37716187,6.98569195 8.45926175,6.77684136 8.60473698,6.61694824 L13.7006768,1.08746339 C14.0823693,0.672642915 13.7885525,0 13.2239214,0 L0.649675856,0 C0.0850591045,0 -0.210212411,0.671202566 0.172920385,1.08746339 L5.26888904,6.61552229 Z" id="Path"></path>
              </g>
          </g>
      </g>
  </g>
</svg>
