.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 2rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 0.1rem solid #F0EADA;
  border-bottom: 0.1rem solid #F0EADA;
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
  letter-spacing: 2px;
}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 1.6rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 1.6rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
}

.accordion__content img {
  max-width: 100%;
}

.accordion h5 {
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 15px;
  margin: 0;
}

.accordion__content {
  font-size: 13px;
  letter-spacing: 0;
  line-height: 20px;
}

.accordion svg {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s all;
}

.accordion .icon-minus {
  opacity: 0;
}

.accordion details[open] .icon-minus {
  opacity: 1;
}

.accordion details[open] .icon-plus {
  opacity: 0;
}

.accordion path {
  fill: #111;
}