/* Custom Style for pages */
  /* .shipping-details,
  .return-details {
      padding-left: 2rem;
      margin-block-end: 2rem;
  } */

details table {
  margin-inline: 3rem;
}

.sizing-disclaimer {
  padding: 0 20px;
}

.product-popup-modal__content.size-guide-modal {
  padding: 3rem 1.5rem;
}

.table-scroll table {
  min-width: 475px
}

.product-popup-modal__content table {
  overflow-x: unset;
}

.size-guide-modal .table-scroll tbody td:nth-child(2) {
    left: 50px;
}

@media screen and (min-width: 750px){
  .size-guide-modal {
    max-width: 100%;
    /* padding: 3rem; */
  }

  .size-guide-modal .table-container {
    max-width: 100%
  }
}

  /* .shipping-details .icon,
  .return-details .icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;
  }

  .shipping-details .icon::before,
  .return-details .icon::before {
      display: var(--display-block);
      position: absolute;
      content: "";
      top: 9px;
      left: 5px;
      width: 10px;
      height: 2px;
      background: #000000;
  }

  .shipping-details .icon::after,
  .return-details .icon::after {
      display: var(--display-block);
      position: absolute;
      content: "";
      top: 5px;
      left: 9px;
      width: 2px;
      height: 10px;
      background: #000000;
  }

  .shipping-details details[open] .icon::after,
  .return-details details[open] .icon::after,
  .tr-accordion-item.active .icon::after {
      width: 0;
  } */