.size-guide-container {
  display: grid;
  grid-template-areas:
      "title switch"
      "table table";
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.size-guide-container h3 {
  grid-area: title;
  text-align: left;
  justify-self: flex-start;
  width: 100%;
}

/* .size-guide-container {
  margin: auto;
} */

.toggle {
  position: relative;
  position: -webkit-relative;
  /* display: inline-block; */
  grid-area: switch;
  justify-self: end;
  width: 80px;
  height: 32px;
  border-radius: 30px;
  border: 2px solid #121212BF;
}

/* After toggle changes */
.toggle::after {
  content: "";
  position: absolute;
  position: -webkit-absolute;
  width: 50%;
  height: 30px;
  border-radius: 30px;
  background-color: #6D767A;
  top: -1px;
  left: 0;
  transition: all 0.5s;
}

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
  left: 50%;
}

/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
  background-color: #FFFFFF;
}

/* Checkbox vanished */
#size-guide-switch {
  display: none;
}

.labels {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.labels p {
  margin: 0;
  padding: 0
}

#size-guide-switch ~ .table-container .guide-cm {
  display: none;
}

#size-guide-switch:checked ~ .table-container .guide-cm {
  display: table-row
}
#size-guide-switch:checked ~ .table-container .guide-inches {
  display: none;
}

.table-container {
  width: 100%;
  /* padding: 1rem; */
  grid-area: table;
  background: rgba(222,222,222,0.75);
  border-radius: 25px;
}

.size-guide {
  width: 100%;
  border-collapse: collapse;
}

.size-guide thead {
  border-bottom: 2px solid #121212BF;
  font-weight: 700;
}

.size-guide tbody tr:not(:last-of-type) {
  border-bottom: 1px solid darkgrey;
}

.size-guide tbody td {
  padding: 8px;
}

@media screen and (min-width: 768px) {
  .table-container {
    /* padding: 2.5rem; */
    text-align: center;
    max-width: 80%;
    margin: 1rem auto;
  }
}

/* STICKY COLUMNS AND HEADER */
.table-scroll {
  position: relative;
  position: -webkit-relative;
  width: 100%;
  /* z-index: 3; */
  margin: auto;
  overflow: auto;
  /* height: 350px; */
}

.table-scroll table {
  width: 100%;
  min-width: 600px;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.table-scroll thead td {
  background: #333;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem;
}

.table-scroll thead td:first-child,
.table-scroll tbody td:first-child,
.table-scroll tbody td:nth-child(2){
  background: #333;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 60px;
}

.table-scroll tbody td:nth-child(2) {
  left: 60px;
}

.table-scroll tbody td:nth-child(3) {
  width: 80px
}

thead td:first-child,
tbody td:first-child {
  z-index: 2;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.table-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.table-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
